*{
    margin: 0%;
    padding: 0px;
    box-sizing: border-box;
    font-family:'papins',sans-serif;
}
.hero{
    width: 100px;
    padding: 20px 10%;
    height: 100vh;
}
nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav.logo{
    width: 150px;
    cursor: pointer;
}
nav.menu-img{
    width: 50px;
    cursor: pointer;
}
nav.ul{
    flex: 1;
    text-align: right;
    margin-right: 150px;
}
nav ul li{
    life-style:none;
    display: inline-block;
    margin: 10px 30px;
    
}